#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are
1. Python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. scikit-learn
3. numpy

| Data Science Tools |
|--------------------|
| Apache Spark     |
| Excel |
| Jupyter Notebook |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60
200 * 60

12000

**Objectives**
- List popular languages for Data Science
- List popular tools for Data Science
- List of commonly used libraries in Data Science
- Examples of arithmetic expressions

## Author
Thanh To